<tr>
  <td>
    <%= audit_log.id %><br>
  </td>
  <td>
    <%= audit_log.user.full_name %><br>
  </td>
  <td>
    <%= audit_log.start_date %><br>
  </td>
  <td>
    <%= audit_log.end_date %><br>
  </td>
  <td>
    <%= status_label audit_log.status %><br>
  </td>
</tr>